body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.cell {
    width: 30px;
    height: 30px;
}

.row {
    display: flex;
}

